__pycache__/
*.pyc
*.pyo

StockPrediction/Stocks/

.venv/

Resources/

/os-quiz-app/node_modules

**.exe

.idea
.vs
/C++/Projects/RedisBis/main
/C++/Projects/RedisBis/client
/C++/Projects/RedisBis/server
/C++/Projects/RedisBis/cmake-build-debug/
